<ion-content fullscreen>
  <ion-img src="../../assets/icon/logo.png" class="logo"></ion-img>
  <div class="card-loggin">
    <ion-card class="logueo">
      <ion-card-title class="titulo">LOGIN</ion-card-title>
      <ion-card-content>

        <ion-item>
          <ion-input placeholder="E-mail" placeholder="Email" name="user" id="user"
            [(ngModel)]="data.user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" placeholder="Password" name="password" id="password"
            [(ngModel)]="data.password"></ion-input>
        </ion-item>
        <ion-button class="btn-logueo" (click)="authService.loginFirebase(data.user, data.password)">Sign-up
        </ion-button>
        <div>
          <br>
          <a [routerLink]="[ '/register' ]" class="newUser">New User</a>
        </div>
        <br>
        <p>Sign With</p>
        <ion-icon name="logo-facebook" class="face" (click)="authService.facebookLoading()"></ion-icon>

      </ion-card-content>
    </ion-card>
   </div>
</ion-content>