<ion-content fullscreen >
  <ion-img src="../../assets/icon/logo.png" class="logo"></ion-img>
<div class="card-loggin">
  <ion-card class="logueo">
      <ion-card-title class="titulo">REGISTER</ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
<ion-item>
  <ion-input placeholder="E-mail"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Password"></ion-input>
</ion-item>
<ion-button class="btn-logueo" [routerLink]="[ '/tabs']">Save User</ion-button>

      </ion-card-content>
  </ion-card>
</div>
 
</ion-content>
