
.header{
 
  --background: linear-gradient(137deg, rgba(255,90,88,1) 0%, rgba(240,152,25,1) 100%);
  color: white;
  border-radius: 0 0 90px 0;
  height: 120px;
  }
  .title
  {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 20px; 
   
  }
  .photo{
      text-align: center;
      margin-top: 50px;
      font-size: 100px;
      margin-bottom: 0px;
  }
  .fn{
      margin-top: 0px;
      text-align: center;
  }
  .ln{
    text-align: center;
  }
.icon{
    margin-top: 15px;
    font-size: 30px;
    text-align: right;
}
.icon2{
    margin-top: 15px;
    font-size: 30px;
   
}