<ion-content fullscreen >
  <ion-img src="../../assets/icon/logo.png" class="logo"></ion-img>
<div class="card-loggin">
  <ion-card class="logueo">
      <ion-card-title class="titulo">LOGIN</ion-card-title>
      <ion-card-content>
          
<ion-item>
  <ion-input placeholder="E-mail"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Password"></ion-input>
</ion-item>
<ion-button class="btn-logueo" [routerLink]="[ '/tabs']">Sign-up</ion-button>
<div><br>
  <a  [routerLink]="[ '/register' ]" class="newUser">New User</a>
</div>
<br>
<p>Sign With</p>
<ion-icon name="logo-facebook" class="face"></ion-icon>
      </ion-card-content>
      
  </ion-card>
</div>
 
</ion-content>