
  <ion-toolbar class="header" >
    
      <p class="title">TEMPERATURE</p>
 
  </ion-toolbar>


<ion-content no-border>
    <ion-card class="welcome-card">
   
      <ion-card-header>
        <div>
          <p>Temperature <br><span class="grades">
            16°
          </span></p>
        
        </div>
      
          <ion-range color="danger" pin="true"  min="5" max="30"></ion-range>
     
      </ion-card-header>
      <ion-card-content>
   
        
 
        
       <ion-button class="btn-logueo" (click)="presentAlertConfirm()">Activar</ion-button>
        
 
      </ion-card-content>
    </ion-card>
    
</ion-content>
