
  <ion-toolbar class="header" >
    
      <p class="title">NIVEL DE AGUA</p>
 
  </ion-toolbar>


<ion-content >
  <p class="title2">
   
    <span>
      Tinaco
    </span>
    
  </p>
  
  <div class="circle">
    <div class="wave">
      <h2 class="porcentaje">56%</h2>
    </div>
  </div>

 <div class="porcentaje-water">
  <canvas #barChart></canvas>
 </div>
  

  <div class="circle">
    <div class="wave">
      <h2 class="porcentaje">56%</h2>
    </div>
  </div>
  
  <p class="title2">
   
    <span>
      Cisterna
    </span>
    
  </p>
    
    <div class="circle2">
      <div class="wave2">
        <h2 class="porcentaje2">96%</h2>
      </div>
    </div>
    <div class="porcentaje-water">
      <canvas #barChart2></canvas>
     </div>

  

    
 
    

 
</ion-content>
