<ion-toolbar class="header" >
    
  <p class="title">SETTINGS</p>

</ion-toolbar>


<ion-content>
<div class="avatar">
  <ion-avatar>
    <img src="https://picsum.photos/400/600">
  </ion-avatar>
</div>
<ion-title size="medium">Nombre de usuario</ion-title>
<ion-title  class="contact-us" size="medium">Contáctanos</ion-title>
<div class="iconos">
  <ion-icon name="call" class="call"></ion-icon>   
  <ion-icon name="logo-facebook" class="face"></ion-icon> 
  <ion-icon name="logo-google" class="google"></ion-icon>   
</div>
<div class="soporte">
  <ion-icon name="help-circle" class="soporte-icon"></ion-icon>  
  Soporte Técnico
</div> 
<div class="salir">
  <ion-icon name="log-out" class="salir-icon"></ion-icon>
</div>



</ion-content>
