<ion-toolbar class="header" >
    
  <p class="title">SETTINGS</p>

</ion-toolbar>


<ion-content>
<div class="photo">
  <ion-icon name="contact" ></ion-icon>
</div>
<ion-row>
  <ion-col size="6" class="fn">
    Firs Name
  </ion-col>
  <ion-col size="6" class="ln">
    Last Name
  </ion-col>
  <ion-col size="6" class="fn">
    Name Bomba:
  </ion-col>
  <ion-col size="6" class="ln">
    Level Water
  </ion-col>
  <ion-col size="6" class="fn">
    Name Termostato
  </ion-col>
  <ion-col size="6" class="ln">
    Temperature
  </ion-col>
  <ion-col size="6" class="icon">
    <ion-icon name="hammer" (click)="presentAlertPrompt() "></ion-icon>
  </ion-col>
  <ion-col size="6" class="icon2">
    <ion-icon name="log-out"></ion-icon>
  </ion-col>
 
</ion-row>
  
</ion-content>
