
.header{
 
  --background: linear-gradient(137deg, rgba(255,90,88,1) 0%, rgba(240,152,25,1) 100%);
  color: white;
  border-radius: 0 0 90px 0;
  height: 120px;
  }
  .title
  {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 20px; 
   
  }
 ion-avatar{
   margin-left: 33%;
   margin-top: 40px;
   height: 150px;
   width: 150px;
   margin-bottom: 20px;
 }
 
  
  ion-title{
    text-align: center;
  }
  .contact-us{
    margin-top: 20px;
  }
  .iconos{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
  }
  .soporte{
  margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .salir{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
  }
  .salir-icon, .soporte-icon{
    color: rgba(255,90,88,1);
  }
 .face{
   color: #3b5998 ;
 }
 .google{
   color: #FF6746 ;
 }